#zoom {
position: absolute;
display: none;
z-index: 499;
-webkit-box-shadow: 0px 5px 25px #000;
-moz-box-shadow: 0px 5px 25px #000;
box-shadow: 0px 5px 25px #000;
}
#zoom_img {
display: block;
cursor: pointer;
width: 100%;
border: 0;
margin: 0;
padding: 0;
}
#zoom_close {
position: absolute;
display: none;
cursor: pointer;
left: -15px;
top: -15px;
width: 30px;
height: 30px;
background: url(../img/zoom/closebox.png) no-repeat;
}
#zoom_spin {
position: absolute;
display: none;
z-index: 525;
width: 50px;
height: 50px;
background: url(../img/zoom/spin.png) no-repeat;
}
.rvfs-1 p, .rvfs-1 li{ font-size: 70% }
.rvfs-2 p, .rvfs-2 li{ font-size: 80% }
.rvfs-3 p, .rvfs-3 li{ font-size: 90% }
.rvfs-4 p, .rvfs-4 li{ font-size: 100% }
.rvfs-5 p, .rvfs-5 li{ font-size: 110% }
.rvfs-6 p, .rvfs-6 li{ font-size: 120% }
.rvfs-7 p, .rvfs-7 li{ font-size: 130% }