body {

}
.thai-font{
    font-family:'TH SarabunPSK';
    font-size:22px;
    color:#303030;
}
.thai-conttent{
    font-family:'TH SarabunPSK';
    font-size:22px;
    color:#303030;
}
.thai-head{
    font-family:'TH SarabunPSK';
    font-size:40px;
    color:#303030;
}
.thai-font2{
        font-family:'TH SarabunPSK';
    font-size:22px;
    color:#FFFFFF;
}
.thai-font20{
        font-family:'TH SarabunPSK';
    font-size:20px;
    color:#000000;
}
.thai-head30{
    font-family:'TH SarabunPSK';
    font-size:30px;
    color:#303030;
}
.thai-head26{
    font-family:'TH SarabunPSK';
    font-size:26px;
    color:#ffffff;
}
.thai-head33{
    font-family:'TH SarabunPSK';
    font-size:33px;
    color:#ffffff;
}
.head-black{
    font-family:'TH SarabunPSK';
    font-size:33px;
    color:black;
}
.thai-black26{
    font-family:'TH SarabunPSK';
    font-size:26px;
    color:black;
}
.thai-black22{
    font-family:'TH SarabunPSK';
    font-size:22px;
    color:black;
}
.thai-black33{
    font-family:'TH SarabunPSK';
    font-size:33px;
    color:black;
}
.thai-black40{
    font-family:'TH SarabunPSK';
    font-size:40px;
    color:black;
}
.thai-black50{
    font-family:'TH SarabunPSK';
    font-size:50px;
    color:black;
}
.thai-font40{
        font-family:'TH SarabunPSK';
    font-size:40px;
    color:#FFFFFF;
}